{{>header}}
<div class="container">
  <h2>Administrador</h2>
  <br>
  <p></p>


Se actualizó el curso de id {{id}}, asignele un docente
  <form action="/asignarDoncente" method="post">
    <div class="form-group">
      <label >Nombre</label>
      <input type="text"  class="form-control"  name="nombre"  placeholder="Doncente" required><br>
      <div class="row">

     </div>
     <br>
     <button class="btn btn-dark">Asignar Doncete</button>
   </div>
 </form>

</div>
  {{>footer}}